
.loginContainer{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

.loginGridContainer{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

#login{
    margin-top: 1rem;
}